body{
  color: #404040;font-family: 'Microsoft YaHei','微软雅黑',Tahoma,SimSun,Arial,Helvetica,sans-serif;
  font-size: 12px;font-style: normal;font-variant: normal;line-height: 150%; letter-spacing:1.1px;
}
a {
  text-decoration: none; color:#008080;
}
a:hover {
 color: #FF0000;
}

#mqBox {
 overflow: hidden;white-space: nowrap;width: 460px;
}

#mqA,#mqB {
 float: left;
}
#mqIn {
 float: left;width: 800%;
}

/*Public begin*/
.w {
 width: 1000px;margin: 0 auto;
}

.sl {
  float: left;_display: inline;width: 250px; overflow:hidden; margin-right:10px;
}
.sr {
  float: left;overflow:hidden; width:740px;
}

.h_ul li {
 float:left;
}
.v_ul li {
  height:27px; line-height:27px; overflow:hidden;
}

.box {
 height:100% auto;
}
.box .h {
 background:#E0ECFF;overflow:hidden;border:1px solid #95B8E7;
}
.box .c {
 height:100% auto;border:1px solid #95B8E7; border-top:none;
}
.row {
 height:100% auto;
}
.row .rl {
 text-align:right; width:100px; float:left;
}
.row .txt{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 200px; background:#FFFFFF;
}
.row .txtl{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 694px; background:#FFFFFF;
}
.row .txtarea{
 border: 1px solid #BBBBBB;width: 98%; height: 80px;padding: 4px 3px;background:#FFFFFF;
}

.easyui-accordion a{
 display:block; padding:5px 0;
}

.txta{
 height:80px; width:300px;
}

/*Admin/Admin.Master*/
#east{
 width:230px;
}

/*bindT*/

/*
#bindT{ width:100%;border-bottom: none;background-color: #F2F8FB;empty-cells: show;border-collapse: collapse;}
#bindT th{background: #CAE8EA url('Images/bg_header.jpg') no-repeat; border:solid 1px #226C8A; padding: 6px;}
#bindT td{ text-align:center; border:solid 1px #226C8A; border-top-style:none; padding:2px; overflow:hidden;}
#bindT td a{ color:#226C8A;}
#bindT td a.colorNone{ color:#404040;}
#bindT .ui-resizable-e{ cursor:e-resize; }

.bindT{ width:100%;border-bottom: none;background-color: #F2F8FB;empty-cells: show;border-collapse: collapse;}
.bindT th{background: #CAE8EA url('Images/bg_header.jpg') no-repeat; border:solid 1px #226C8A; padding: 6px;}
.bindT td{ text-align:center; border:solid 1px #226C8A; border-top-style:none; padding:2px;}

*/

.clickStyle{ background-color:#C9E7E9;}

/*header*/

/*footer*/

.tooltip{ 
 max-width:600px;
}
a.l-btn {
 padding-right: 10px;
}
a.l-btn span.l-btn-left {
padding: 4px 0px 4px 10px;
}
