body{
  color: #404040;font-family: 'Microsoft YaHei',Tahoma,SimSun,Arial,Helvetica,sans-serif;
  font-size: 12px;font-style: normal;font-variant: normal;line-height: 150%; letter-spacing:1.1px;
}
*{ 
  margin:0; padding:0;
}
a {
  text-decoration: none;
}
a:hover {
 color: #FF0000;
}

/*Public begin*/
.w {
 width: 1000px;margin: 0 auto;
}

.sl {
  float: left;_display: inline;width: 250px; overflow:hidden; margin-right:10px;
}
.sr {
  float: left;overflow:hidden; width:740px;
}

.ul_vh li {
 float:left;
}
.ul_v li {
  height:27px; line-height:27px; overflow:hidden;
}
.v_ul li {
  height:27px; line-height:27px; overflow:hidden;
}

.box {
 height:100% auto;
}
.box .h {
 background:#EFF1F0;overflow:hidden;border:1px solid #E9E9E9;
}
.box .c {
 height:100% auto;border:1px solid #E9E9E9;
}
.row {
 height:100% auto;
}
.row .rl {
 text-align:right; width:80px; float:left;
}
.row .txt{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 200px; background:#FFFFFF;
}
.row .stxt{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 80px; background:#FFFFFF;
}
.row .ltxt{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 600px; background:#FFFFFF;
}

h1, h2, h3, h4, h5, h6, small {
font-size: 100%;
}
h1, h2, h3, h4, h5, h6, em, strong, b {
font-weight: bold;
}
html, body, fieldset, img, iframe, abbr {
border: 0;
}
a {
color: #406eba;outline: 0;
}
i, cite, em, var, address, dfn {
font-style: normal;
}
body, textarea, input, button, select, keygen, legend {
font: 12px/1.14 arial,\5b8b\4f53;color: #323232;outline: 0;
}

/**/
.PathOne{
 margin:200px auto;width:384px; height:288px; 
}
.lst ol li {
list-style-type: decimal;margin-bottom: 20px;
}
.waiting {
 background:url('Images/loading.gif') no-repeat; display:block; padding-left:28px;
}

/*login.aspx*/
.g-doc {
 background: #39a6ec;
}
.g-hd {
height: 50px;
-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.06);
-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.06);
box-shadow: 0 3px 3px rgba(0,0,0,0.06);
}
.g-hd, .g-ft {
background: #FFF;
}
.g-in {
width: 990px;margin: 0 auto;
}
.m-logobar:after, .m-ipt:after {
display: block;clear: both;visibility: hidden;height: 0;overflow: hidden;content: ".";
}
.m-logobar {
height: 50px;line-height: 50px;
}
.m-logobar, .m-ipt {
zoom: 1;
}
.f-ff1 {
font-family: "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;
}
.m-logobar h1, .m-logobar h2, .m-logobar .pdtLogo, .m-logobar i {
float: left;
}
.m-logobar h1 em, .m-logobar .pdtLogo em {
display: none;
}
.m-logobar i {
width: 1px;height: 26px;overflow: hidden;margin: 12px 20px 0 20px;text-indent: -9999px;background: #dfdfdf;
}
.m-logobar h2 {
font-size: 24px;font-weight: normal;
}
.g-bd {
padding: 0;
}
#advList a {
display: block;width: 990px;height: 512px;position: absolute;bottom: 0;left: 0;color: #FFF;
}
.m-tab-small {
position: relative;left: 100%;margin-left: -390px;margin-bottom: 30px;
}
.m-tab-small {
width: 390px;
}
.m-tab .tabHd {
height: 50px;
}
.f-cb, .f-cbli li {
zoom: 1;
}
.m-tab .tabHd li {
float: left;width: 190px;height: 49px;margin: 0 1px 1px 0;overflow: hidden;
}
.m-tab-small .tabHd li {
width: 194px;
}
.m-tab .tabHd li.z-on {
height: 50px;margin-bottom: 0;
}
.m-tab .tabHd li a {
display: block;width: 100%;height: 47px;line-height: 47px;padding-top: 3px;text-align: center;
font-family: "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;font-size: 22px;color: #323232;
}
.m-tab .tabHd li.z-on a {
padding-top: 0;border-top: 3px solid #69b3f2;
}
.m-tab-small .tabHd li.z-on a {
border: 0;padding-top: 3px;
}
.m-tab-small .tabBd {
padding: 0 20px 30px 20px;height: 310px;
}
:root .m-box, :root .m-tab .tabHd li.z-on a, :root .m-tab .tabBd {
background: rgba(255,255,255,0.85);
}
#loginByAccount {
margin-bottom: 30px;
}
.m-ipt {
position: relative;
}
.m-ipt {
margin-bottom: 20px;
}
.u-ipt, .u-ipt div.iptctn, .u-btn, .u-btn span {
background: url('Images/slide-door.png') no-repeat 9999px 9999px;
}
.u-ipt div.iptctn {
height: 48px;padding: 3px 18px 3px 0;background-position: right -54px;
}
.u-ipt, .u-ipt input {
font-size: 20px;font-family: "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;
}
.u-ipt input {
width: 100%;height: 48px;line-height: 48px	9;border: 0;background: 0;
}
.u-btn2, .u-btn2:hover, .u-btn2:active {
color: #FFF;
}
.u-btn2 {
display: block;width: 390px;height: 50px;line-height: 50px;border: 0;overflow: hidden;text-align: center;background: #69b3f2;
font-family: "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;
font-size: 26px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;
}
.u-btn2 {
width: 346px;margin-left: 2px;
}
.u-ipt {
position: relative;display: inline-block;width: 376px;height: 54px;overflow: hidden;padding-left: 18px;background-position: 0 0;
}
.u-ipt, .u-ipt label {
width: 332px;
}

/*bindT*/


/*Shares*/

/*header*/

/*footer*/

